/*RESET*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*HEADER*/

header
{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    /*border-bottom: 1px solid black;*/
}

#logo
{
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo-text
{
    height: 50px;
    vertical-align:middle;
    font-size:50px;
}

/*BODY*/
body
{
    font-family: sans-serif;
}

p
{
    margin-bottom:15px;
}

h2
{
    margin-bottom:15px;
}

.bg-light-gray
{
    background-color: #f0efef;
}

.bg-blue
{
    background-color: #07aad3;
}

.bg-white
{
    background-color: white;
}

.maxi-container
{
    padding: 40px 20px;
    min-height: 100vh;
}

.text-light-gray
{
    color:#b9b7b7;
}

.text-white
{
    color:white;
}

.tags-blue
{
    display: inline-block;
    background-color: #07aad3;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tags-purple
{
    display: inline-block;
    background-color: #71019d;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tags-aquamarine
{
    display: inline-block;
    background-color: #5ab898;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tags-orange
{
    display: inline-block;
    background-color: #ffae00;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tags-pink
{
    display: inline-block;
    background-color: #bb7ba8;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tags-green
{
    display: inline-block;
    background-color: #92c23a;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tick
{
    font-size:85%;
    display: inline-block;
    border: 1px solid green;
    color:green;
    background-color:white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    border-radius:50%;
}

.cross
{
    font-size:85%;
    display: inline-block;
    border: 1px solid red;
    color:red;
    background-color:white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    border-radius:50%;
}


/*COMMON*/

.mini-container
{
    background-color:white;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.mb-30
{
    margin-bottom: 30px;
}

.mb-15
{
    margin-bottom:15px;
}

.button-padding
{
    padding: 10px;
}

.button-border
{
    border-radius: 10px;
}