/*RESET*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*HEADER*/

header
{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    /*border-bottom: 1px solid black;*/
}

#logo
{
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo-text
{
    height: 50px;
    vertical-align:middle;
    font-size:50px;
}

/*BODY*/
body
{
    font-family: sans-serif;
}

.bg-light-gray
{
    background-color: #f0efef;
}

.bg-blue
{
    background-color: #07aad3;
}

.bg-white
{
    background-color: white;
}

.maxi-container
{
    padding: 40px 20px;
    min-height: 100vh;
}

.text-light-gray
{
    color:#b9b7b7;
}

.text-white
{
    color:white;
}

.tags-blue
{
    display: inline-block;
    background-color: #07aad3;
    color:white;
    border-radius: 20%;
    font-size: 70%;
    padding: 7px;
}

.tick
{
    display: inline-block;
    border: 1px solid green;
    color:green;
    background-color:white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    border-radius:50%;
}


/*COMMON*/

.mini-container
{
    background-color:white;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.mb-50
{
    margin-bottom: 50px;
}

.button-padding
{
    padding: 10px;
}

.button-border
{
    border-radius: 10px;
}